source activate respy_estimagic

export PYTHONPATH=$PWD:$PWD/submodules/respy:$PYTHONPATH
export PYTHONPATH=$PWD:$PWD/submodules/ose_utils:$PYTHONPATH

# We signal to the package that we are in development mode
export IS_DEVELOPMENT=True
