[submodule "submodules/ose_utils"]
	path = submodules/ose_utils
	url = https://github.com/OpenSourceEconomics/ose_utils.git
[submodule "submodules/respy"]
	path = submodules/respy
	url = https://github.com/peisenha/respy.git
	branch = peisenha_smm_integration
